
@inject IViewLocalizer Localizer
@model NiTiAPI.Dapper.ViewModels.CNews.HomeCNewsViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["MetaKeyword"] = Model.MetaKeyword;
    ViewData["MetaDescription"] = Model.MetaDescription;
    var @corname = @ViewData["CorporationName"];

}

@section Scripts{
    <script src="~/cnews-app/controllers/home/index.js" asp-append-version="true"></script>
    <script>
        var homeObj = new homeController();
        homeObj.initialize();
    </script>
}

<div class="body-content outer-top-vs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="hero">
                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                        <div class="item" style="background-image: url(cnews-side/images/banner/418_vn.png);">
                            @*<div class="container-fluid">
                                <div class="caption bg-color vertical-center text-left">
                                    <div class="slider-header fadeInDown-1">Top Brands 2018</div>
                                    <div class="big-text fadeInDown-1">Digital <span class="highlight">Watch</span></div>
                                    <div class="excerpt fadeInDown-2 hidden-xs"> <span>Get 50% off on selected items</span> </div>
                                    <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                </div>

                            </div>*@
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.item -->

                        <div class="item" style="background-image: url(cnews-side/images/banner/416_vn.png);">
                            <div class="container-fluid">
                                @*<div class="caption bg-color vertical-center text-left">
                                    <div class="slider-header fadeInDown-1">Spring 2018</div>
                                    <div class="big-text fadeInDown-1"> Modern <span class="highlight">Chair</span> </div>
                                    <div class="excerpt fadeInDown-2 hidden-xs"> <span>Nemo enim ipsam voluptatem quia <br> voluptas sit aspernatur.</span> </div>
                                    <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                </div>*@

                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.item -->
                        <div class="item" style="background-image: url(cnews-side/images/banner/417_vn.png);">
                        </div>
                        <div class="item" style="background-image: url(cnews-side/images/banner/422_vn.png);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br /> 
        <div class="scroll-tabs outer-top-vs wow fadeInUp animated">
            <div class="col-xs-12 col-sm-12 col-md-9">
                @foreach (var modelhome in Model.PostHomeCategoryNews)
                {
                    <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
                        <div class="more-info-tab clearfix ">
                            <h3 class="new-product-title pull-left">@modelhome.Name</h3>
                            @*<ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
            <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">Giới thiệu chung</a></li>
            <li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Cơ cấu tổ chức</a></li>
            <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Chức năng nhiệm vụ</a></li>
        </ul>*@
                            <!-- /.nav-tabs -->
                        </div>
                        <div class="blog-page">
                            <div class="blog-post outer-top-bd  wow fadeInUp">
                                @if (modelhome.Id == 1)
                                {
                                    @foreach (var modelhoneintro in Model.PostIntro.Where(p => p.CategoryNewsId == modelhome.Id))
                                    {
                                        <a href="blog-details.html">
                                            <img class="img-title-post" src=@modelhoneintro.Image alt="">
                                        </a>
                                        <h1><a href="blog-details.html">@modelhoneintro.Title</a></h1>
                                        <span class="date-time">@modelhoneintro.CreatedDate</span>
                                        <p>@modelhoneintro.Description</p>
                                        <div class="wow">
                                            <a data-id="@modelhoneintro.Id" class="btn btn-upper btn-primary read-more pull-right btnViewPost">Xem thêm</a>
                                        </div>
                                        <br />
                                        <p></p><p></p>
                                    }
                                }
                                else if (modelhome.Id == 2)
                                {
                                    @foreach (var modelhoneintro in Model.PostEvent.Where(p => p.CategoryNewsId == modelhome.Id))
                                    {
                                        <h1><a href="blog-details.html">@modelhoneintro.Title</a></h1>
                                        <span class="date-time">@modelhoneintro.CreatedDate</span>
                                        <p>@modelhoneintro.Description</p>
                                        <div class="wow">
                                            <a data-id="@modelhoneintro.Id" class="btn btn-upper btn-primary read-more pull-right btnViewPost">Xem thêm</a>
                                        </div>
                                        <br />
                                        <p></p><p></p>
                                    }
                                }
                                else if (modelhome.Id == 3)
                                {
                                    @foreach (var modelhoneintro in Model.PostProduct.Where(p => p.CategoryNewsId == modelhome.Id))
                                    {
                                        <h1><a href="blog-details.html">@modelhoneintro.Title</a></h1>
                                        <span class="date-time">@modelhoneintro.CreatedDate</span>
                                        <p>@modelhoneintro.Description</p>
                                        <div class="wow">
                                            <a data-id="@modelhoneintro.Id" class="btn btn-upper btn-primary read-more pull-right btnViewPost">Xem thêm</a>
                                        </div>
                                        <br />
                                        <p></p><p></p>
                                    }
                                }
                                else
                                {
                                    @foreach (var modelhoneintro in Model.PostCustomerInfo.Where(p => p.CategoryNewsId == modelhome.Id))
                                    {
                                        <h1><a href="blog-details.html">@modelhoneintro.Title</a></h1>
                                        <span class="date-time">@modelhoneintro.CreatedDate</span>
                                        <p>@modelhoneintro.Description</p>
                                        <div class="wow">
                                            <a data-id="@modelhoneintro.Id" class="btn btn-upper btn-primary read-more pull-right btnViewPost">Xem thêm</a>
                                        </div>
                                        <br />
                                        <p></p><p></p>
                                    }
                                }
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                }
            </div>
            <br /> <br/>
                   <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
                       <div class="sidebar-module-container">

                           <h3 class="section-title">@Localizer["News"] </h3>
                           <ul class="nav nav-tabs nav-tabs-silder-right">
                               <li class="active"><a href="#popular" data-toggle="tab">@Localizer["NewsNews"]</a></li>
                               <li><a href="#recent" data-toggle="tab">@Localizer["Products"]</a></li>
                           </ul>
                           <div class="tab-content" style="padding-left:0">
                               <div class="tab-pane active m-t-20" id="popular">
                                   <div class="blog-post inner-bottom-30 ">
                                       <img class="img-responsive" src="/cnews-side/images/blog-post/blog_big_01.jpg" alt="">
                                       <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                       <span class="review">6 Comments</span>
                                       <span class="date-time">12/06/16</span>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                   </div>
                                   <div class="blog-post">
                                       <img class="img-responsive" src="/cnews-side/images/blog-post/blog_big_02.jpg" alt="">
                                       <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                       <span class="review">6 Comments</span>
                                       <span class="date-time">23/06/16</span>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                   </div>
                               </div>
                               <div class="tab-pane m-t-20" id="recent">
                                   <div class="blog-post inner-bottom-30">
                                       <img class="img-responsive" src="/cnews-side/images/blog-post/blog_big_03.jpg" alt="">
                                       <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                       <span class="review">6 Comments</span>
                                       <span class="date-time">5/06/16</span>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                   </div>
                                   <div class="blog-post">
                                       <img class="img-responsive" src="/cnews-side/images/blog-post/blog_big_01.jpg" alt="">
                                       <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                       <span class="review">6 Comments</span>
                                       <span class="date-time">10/07/16</span>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                   </div>
                               </div>
                           </div>

                       </div>
                       <br/>
                       <div class="home-banner outer-top-n outer-bottom-xs">
                           <img src="/cnews-side/images/banners/LHS-banner.jpg" alt="Image">
                       </div>
                       <div class="home-banner outer-top-n outer-bottom-xs">
                           <img src="/cnews-side/images/banners/LHS-banner.jpg" alt="Image">
                       </div>
                       <div class="home-banner outer-top-n outer-bottom-xs">
                           <img src="/cnews-side/images/banners/LHS-banner.jpg" alt="Image">
                       </div>
                   </div>
        </div>

    </div>
</div>