@using NiTiErp.Extensions;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/admin-side/images/powaco.ico" />

    <title>POWACO - HRM </title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />


    <link href="~/lib/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet" />

    @*<link href="~/lib/jquery-loading/loading.css" rel="stylesheet" />*@

    <!-- Custom Theme Style -->
    <link href="~/admin-side/css/custom.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*<a href="/admin/home" class="site_title">
                                <img src="/admin-side/images/powacmo.png" alt="...">
                                <span> Nhân sự</span>
                            </a>*@

                        <a href="/admin/homevanban" class="site_title">
                            <img src="/admin-side/images/powacmo.png" alt="...">
                            <span>  Văn bản</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("CorporationId") />
                    <input type="hidden" id="hidUserFullName" value=@User.GetSpecificClaim("FullName") />
                    <input type="hidden" id="hidUserName" value=@User.GetSpecificClaim("UserName") />
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="/admin-side/images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("CorporationId") />
                                <input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("FullName") />
                                <span> </span>
                                <h2>@User.GetSpecificClaim("FullName")</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @await Component.InvokeAsync("SideBar")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>*@
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @await Html.PartialAsync("_LoginPartial")
                            </li>

                            @*<li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="/admin-side/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="/admin-side/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="/admin-side/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="/admin-side/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>@User.GetSpecificClaim("FullName")</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>

                <div class="pull-right">
                    Công Ty Cổ Phần Điện Nước An Giang - <a href="http://powaco.com.vn">HRM</a>
                    - Đang online <i class="fa fa-user"> <span id="users" class="badge bg-orange"> </span></i>

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/mustache/mustache.js"></script>

    @*<script src="~/lib/Chart.js/dist/Chart.js"></script>*@

    <!-- jQuery Sparklines -->
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/vi.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>

    <!-- morris.js -->
    <script src="~/lib/gentelella/vendors/raphael/raphael.js" asp-append-version="true"></script>
    <script src="~/lib/gentelella/vendors/morris.js/morris.js" asp-append-version="true"></script>

    <!-- jQuery Smart Wizard -->
    @*<script src="~/lib/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js" asp-append-version="true"></script>*@

    <script src="~/lib/gentelella/vendors/pnotify/dist/pnotify.js" asp-append-version="true"></script>


    <!-- Custom Theme Scripts -->
    @*<script src="~/admin-side/js/custom.min.js" asp-append-version="true"></script>*@
    <script src="~/admin-side/js/custom.js" asp-append-version="true"></script>

    @*<script src="~/lib/jquery-loading/jquery.loading.js"></script>*@
    <script src="~/lib/jQuery.print/jQuery.print.js" asp-append-version="true"></script>

    <script src="~/lib/signalr/lib/signalr.min.js" asp-append-version="true"></script>

    <script src="~/app/shared/tedu.js" asp-append-version="true"></script>

    <script src="~/app/shared/tinnhanhub.js" asp-append-version="true"></script>

    @*<environment names="Development">
            <script src="~/app/shared/tedu.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/bundled/site-admin.min.js"></script>
        </environment>*@



    <script>
        @*<input type="hidden" id="hidUserCorporationId" value=@User.GetSpecificClaim("UserName") />*@
        var userName = $('#hidUserName').val();
        //console.log(userName);

        $.ajax({
            type: "GET",
            url: "/Admin/appuserlogin/GetUserName",
            data: { username: userName },
            dataType: "json",
            beforeSend: function () {
                tedu.startLoading();
            },
            success: function (response) {
                if (response.Result.Results.length === 1) {
                    const connection = new signalR.HubConnectionBuilder()
                        .withUrl("/chat")
                        .build();
                    bindConnectionMessage(connection);

                    connection.start()
                        .then(function () {
                            onConnected(connection);
                        })
                        .catch(function (error) {
                            console.error(error.message);
                        });
                }

                tedu.stopLoading();
            },
            error: function (status) {
                tedu.notify('Có lỗi xảy ra', 'error');
                tedu.stopLoading();
            }
        });


        function bindConnectionMessage(connection) {
            var messageCallback = function (message) {
                console.log('message' + message);
                if (!message) return;
                var userCountSpan = document.getElementById('users');
                userCountSpan.innerText = message;
            };
            connection.on("updateCount", messageCallback);
            connection.onclose(onConnectionError);
        }
        function onConnected(connection) {
            console.log('Bắt đầu kết nối');
        }
        function onConnectionError(error) {
            if (error && error.message) {
                console.error(error.message);
            }
            else {
                console.log('Close kết nối');
            }
        }

        //const connection = new signalR.HubConnectionBuilder()
        //    .withUrl("/chat")
        //    .build();
        //bindConnectionMessage(connection);

        //connection.start()
        //    .then(function () {
        //        onConnected(connection);
        //    })
        //    .catch(function (error) {
        //        console.error(error.message);
        //    });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>